<input class="form-control" [(ngModel)]="topic"/>

<button type="submit" (click)="getNewNews()" class="btn btn-primary">Get News</button>

Enter number of articles <input class="form-text" [(ngModel)]="num"/>

<div class="container">
    <div *ngFor="let item of data.slice(0,num)" class="card">

        <img class="card-img-top" src="{{item.urlToImage}}">
        <div class="card-body">
            <h5 class="card-title">
                {{item.title}}
            </h5>
            <p class="card-text">
                {{item.description}}
            </p>
            <a href="{{item.url}}" large>Read full article</a>
        </div>

    </div>
</div>